* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #eee;
	background-color: rgba(60, 110, 190, 1);
    text-align: center;
}

.navbar li {
    display: inline;
    color: rgb(60, 110, 190);
    margin: 0 20px;
    text-transform: uppercase;
}

.navbar li a {
    color:rgb(60, 110, 190);
    text-decoration: none;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to bottom,
        rgba(60, 110, 190, 0.1),
        rgba(60, 110, 190, 1)),
        url(../assets/background-cron.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* will shift heading-primary to 50% of the width and height */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #eee;
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 30px;
	animation: fadein 3s, moveDown 3s;
}

/* For CSS fade in animation for .heading & .logo-box */
@keyframes moveDown {
	0% {
		transform: translateY(-40px);
	}
	100% {
		transform: translate(0);
	}
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 10px;
	animation: fadein 7s;
}

.social-links {
	display: block;
	font-size: 40px;
	text-align: center;
	letter-spacing: 20px;
    animation: fadein 10s;
}

/* For CSS fade in animation for .social-links */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.social-links>a {
	color: #eee;
	text-decoration: none;
}

.logo-box {
    position: absolute;
    top: 85%;
    left: 46%;
	animation: fadein 3s, moveDown 4s;
}

.logo {
    height: 80px;
}

div.footer {
    text-align: center;
}

span.footerText {
    padding-bottom: 30px;
}

.footer-logo {
	height: 35px;
    margin: 0;
}

a.scroll-down {
    color: #eee;
    margin-left: 1%;
}

.about {
    text-align: center;
    margin-top: 50px;
}

#about-title {
    margin: 75px;
    margin-right: 6%;
}

#about-body {
    width: 45%;
    margin-left: 26%;
    /* margin-top: px; */
}

div#about-body p {
    margin: 20px;
}
